// #####################################################################################
// #####################################################################################
// !!!!! YOU MUST CHANGE THE ACCOUNT NUMBER AT LINE 108 TO YOUR ACCOUNT OR NOTHING WILL WORK!!!!!!

manifest {

    description = 'Small RNA sequencing analysis pipeline'
    author = 'Ben Pastore pastore.28@osu.edu'
}

workDir = "/fs/scratch/PCON0160/ben/00AA_CLASH"

singularity.cacheDir = "${baseDir}/singularity"

process.shell = ['/bin/bash', '-euo', 'pipefail']


params {
    
    help = false
    base = baseDir
    outdir = "/fs/ess/PCON0160/ben/pipelines/clash_nextflow/DEVELOPMENT_OUTPUT"
    reads = "/fs/ess/PAS1473/ben_past_projects/clash_prg1_rep1/test_trimmed.fq.gz"
    genome = "/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.genomic.fa"
    targets = "/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/ce_ws279.linc.pseudo.pc.repbase.fa"
    smrnas = "/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/piRNA_reference.15ntextension.fa"
    format = "fastq"
    trimming = true
}

profiles {

    cluster {
        
        cpus = 8
        memory = 8.GB

        process {

            hpc_account = "PAS1473"

            // #####################################################################################
            // #####################################################################################
            // !!!!! YOU MUST CHANGE THE ACCOUNT NUMBER HERE TO YOUR ACCOUNT OR NOTHING WILL WORK!!!!!!
            
            clusterOptions = "--account=$hpc_account --ntasks=1 "
            
            // #####################################################################################
            // #####################################################################################

            withLabel:'local'{
                executor = 'local'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/smrnaseq:latest'
            }

            withLabel:'low' {
                executor = 'slurm'
                cpus = 12
                memory = 20.GB
                time = '1h'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/smrnaseq:latest'
            }
        
            withLabel:'medium' {
                executor = 'slurm'
                cpus = 16
                memory = 64.GB
                time = '2h'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/smrnaseq:latest'
            }
        
            withLabel:'high' {
                executor = 'slurm'
                cpus = 25
                memory = 64.GB
                time = '3h'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/smrnaseq:latest'
            }

            withLabel:'bwa_low' {
                executor = 'slurm'
                cpus = 15
                clusterOptions = "--account=$hpc_account --time=01:00:00 --nodes=1 --mem=32gb "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }
            
            withLabel:'bwa_high' {
                executor = 'slurm'
                cpus = 30
                clusterOptions = "--account=$hpc_account --time=04:00:00 --nodes=1 --mem=128gb "
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/rnaseq:latest'
            }
        }
    }
}